<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/customers">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/accounts">Accounts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Custmers
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/customers">search custmers</a></li>
            <li><a class="dropdown-item" *ngIf="authService.roles.includes('ADMIN')" routerLink="/admin/new-customer">new customer</a></li>
            <li><hr class="dropdown-divider"></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="authService.isAuthenticated">
        <li class="nav-item">
          <span class="nav-link fw-bold">{{ authService.uaername }}</span>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger" (click)="handleLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>